@import url(/src/styles/global.css);

.hover-light-blue {
  transition: all 0.3s;
  text-decoration: none;
}

.hover-light-blue .a:hover {
  color: var(--color-tertiary);
}

.menu-icon {
  cursor: pointer;
}

.p {
  padding: 1.5rem;
}

.bio {
  text-wrap: wrap;
  text-align: justify;
}

.title {
  line-height: 32px;
  font-size: 26px;
  text-overflow: ellipsis;
}

.p-1-b {
  padding-bottom: 1rem;
}

.button {
  padding: 0.6rem;
  background-color: #FFF;
  color: var(--color-primary);
  border-radius: 3px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.image {
  width: 50%;
  height: 50%;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  transition: 0.4s;
}

#menu-toggle {
  display: none;
}

.menu {
  display: none;
  background-color: #333;
  max-height: 100%; /* Defina a altura máxima para 100% */
  width: 90%; /* Ocupa toda a largura da tela */
  position: fixed; /* Mantém o menu fixo na tela */
  top: 0;
  left: 0;
}

.game-icon {
  width: 220px;
  max-width: 220px;
  max-height: 120px;
  height: 120px;
  min-width: 220px;
  min-height: 120px;
}


#menu-toggle:checked + .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.name {
  font-size: 1.25em;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  transition: color 0.25s;
}

@media only screen and (min-width: 0px) and (max-width: 425px) {
  

  .game-icon {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .padding-bottom {
    padding-bottom: 1rem;
  }

  .aqui {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 6px;
    font-size: 12px;
  }

  .name {
    font-size: 1.25em;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    transition: color 0.25s;
  }

  .w-s-10 {
    width: 10%;
  }

  .w-s-90 {
    width: 90%;
  }

  .avatar {
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
    margin-right: 6px;
  }

  .fs-13 {
    font-size: 14px;
  }

  .d-s-block {
    display: block;
  }

  .mobile-image {
    width: 306px;
    max-width: 306px;
    max-height: 306px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .hidden-tablet {
    display: none;
  }

  .game-icon {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .padding-bottom {
    padding-bottom: 1rem;
  }

  .aqui {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 6px;
    font-size: 12px;
  }

  .name {
    font-size: 1.25em;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    transition: color 0.25s;
  }

  .w-s-10 {
    width: 10%;
  }

  .w-s-90 {
    width: 90%;
  }

  .avatar {
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
    margin-right: 6px;
  }

  .fs-13 {
    font-size: 14px;
  }

  .d-s-block {
    display: block;
  }

  .mobile-image {
    width: 600px;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .hidden-tablet {
    display: none;
  }

  .game-icon {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .padding-bottom {
    padding-bottom: 1rem;
  }

  .aqui {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 6px;
    font-size: 12px;
  }

  .teste {
    padding-bottom: 5%;
  }

  .w-s-10 {
    width: 10%;
  }

  .w-s-90 {
    width: 90%;
  }

  .avatar {
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
    margin-right: 6px;
  }

  .fs-13 {
    font-size: 14px;
  }

  .d-s-block {
    display: block;
  }

  .mobile-image {
    width: 850px;
    max-width: 850px;
    max-height: 600px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .hidden-laptop {
    display: none;
  }


  .game-icon {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .padding-bottom {
    padding-bottom: 1rem;
  }

  .aqui {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 6px;
    font-size: 12px;
  }

  .teste {
    padding-bottom: 5%;
  }

  .w-s-10 {
    width: 10%;
  }

  .w-s-90 {
    width: 90%;
  }

  .avatar {
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
    margin-right: 6px;
  }

  .fs-13 {
    font-size: 14px;
  }

  .d-s-block {
    display: block;
  }

  .mobile-image {
    width: 850px;
    max-width: 850px;
    max-height: 600px;
    overflow: hidden;
  }
}
