@import url(/src/styles/global.css);

/*   -------------------- Menu top ---------------- */ 
.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80%;
    height: 80%;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

.menu-list a:hover {
    color: var(--color-tertiary);
}

/* -------------------- Center ---------------- */

main {
    height: 57vh; 
    width: 55vw; 
    margin: 0 auto; 
    background-color:#091742;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-game {
    display: flex;
    width: 51vw;
    color: white;
    margin-bottom: 4em;
    padding-top: 2em;
    
    
}
.profile-info {
    display: flex;
    display: inline;    
    margin-top: -20px;    
}

.imagem{
    width: 9em;
    height: 9em;
    padding-right: 2em;
}

.favorite {
    display: flex;
    align-items: center;
    color: white;
    background-color: #1F7DD6;
    width: 52vw;
    height: 1.7em;
    margin: 0;
    margin-bottom: -20px;
    border-radius: 4px;
}

.favorite-games{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}
.game {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    height: 6em;
    color: black;
    width: 52vw;
}

h3 {
    padding: 0 7em;
    
}

h2{
    margin-bottom: 0;
}

#parametro{
    display: inline;
    padding-right: 4em;
}
/*  -------------------- footer ----------------              
*/

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topic {
    margin: 10px;
}

.footer-content-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

 .perfil-container {
    position: absolute;
    right: 2em;
    color: white;
} 


