.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  transition: 0.4s;
}

#menu-toggle {
  display: none;
}

.menu {
  display: none;
  background-color: #333;
  max-height: 100%; 
  width: 90%; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; 
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 0 1rem; 
  text-align: center; 
  width: 100%; 
  box-sizing: border-box; 
}

#menu-toggle:checked + .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}