@import url(/src/styles/global.css);

.topic {
  margin: 10px;
}

@media only screen and (max-width: 599px) {
  .game-icon {
    width: 50%;
    /* height: auto; */
    vertical-align: middle;
  }

}
