@import url(/src/styles/global.css);

.title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  align-self: flex-start;
}

.search {
  padding: 0.6rem;
  width: 100%;
  border-radius: 5px;
}

.hover-light-blue {
  transition: all 0.3s;
  text-decoration: none;
}

.hover-light-blue .a:hover {
  color: var(--color-tertiary);
}

.search {
  border-radius: 3px;
  width: 140px;
}

.topic {
  margin: 10px;
}

.btn {
  height: 58px;
  width: 240px;
  border-radius: 3px;
  margin-left: 10px;
}

.avatar {
  width: 42px;
  height: 42px;
  vertical-align: text-bottom;
  margin-right: 6px;
}

.menu-icon {

  cursor: pointer;

}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  transition: 0.4s;
}

#menu-toggle {
  display: none;
}

.menu {
  display: none;
  background-color: #333;
  max-height: 100%; /* Defina a altura máxima para 100% */
  width: 90%; /* Ocupa toda a largura da tela */
  position: fixed; /* Mantém o menu fixo na tela */
  top: 0;
  left: 0;
}

.game-icon {
  width: 220px;
  max-width: 220px;
  max-height: 120px;
  height: 120px;
  min-width: 220px;
  min-height: 120px;
}

.mobile-image {
  width: 920px;
  max-width: 960px;
  max-height: 960px;
  overflow: hidden;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Torna a lista vertical */
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 10px; /* Adicione algum espaçamento entre os itens do menu */
  text-align: center; /* Centralize o texto verticalmente */
  width: 100%; /* Ocupa toda a largura do menu */
  box-sizing: border-box; /* Garante que o padding não aumente a largura */
}

#menu-toggle:checked + .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .search {
    border-radius: 3px;
    width: 100%;
  }

  .w-s-10 {
    width: 10%;
  }

  .w-s-90 {
    width: 90%;
  }

  .avatar {
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
    margin-right: 6px;
  }

  .fs-13 {
    font-size: 14px;
  }


  .d-s-block {
    display: block;
  }

  .mobile-image {
    width: 306px;
    max-width: 306px;
    max-height: 306px;
    overflow: hidden;
  }
  
}
