.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-1 {
  background-color: #0a0a0a;
}

.bg-2 {
  background-color: #131414;
}

.bg-dark-blue {
  background-color:#091742;
}

.bg-blue {
  background-color: #1F7DD6;
}

.bg-white {
  background-color: #FFFFFF;
}