.color-white {
  color: #fff;
}

/* Color */
.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-tertiary {
  color: var(--color-tertiary);
}

.color-black {
  color: var(--color-black);
}

.color-gray {
  color: var(--color-gray);
}