.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

@media only screen and (max-width: 599px) {
  .d-mobile-none {
    display: none;
  }
  
  .d-mobile-inline {
    display: inline;
  }
  
  .d-mobile-block {
    display: block;
  }
  
  .d-mobile-inline-block {
    display: inline-block;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .d-tablet-none {
    display: none;
  }
  
  .d-tablet-inline {
    display: inline;
  }
  
  .d-tablet-block {
    display: block;
  }
  
  .d-tablet-inline-block {
    display: inline-block;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .d-laptop-none {
    display: none;
  }
  
  .d-laptop-inline {
    display: inline;
  }
  
  .d-laptop-block {
    display: block;
  }
  
  .d-laptop-inline-block {
    display: inline-block;
  }
}