.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fw-600 {
  font-weight: 600;
}

.fw-200 {
  font-weight: 200;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.text-overflow-ellipses {
  text-overflow: ellipsis;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.fs-1 {
  font-size: calc(var(--space) * 0.25);
}

.fs-2 {
  font-size: calc(var(--space) * 0.5);
}

.fs-3 {
  font-size: calc(var(--space) * 1);
}

.fs-4 {
  font-size: calc(var(--space) * 1.25);
}

.fs-5 {
  font-size: calc(var(--space) * 1.50);
}

.text-wrap {
  text-wrap: wrap;
}

.text-justify {
  text-align: justify;
}